
.root-container[data-v-434ec9e2] {
  min-height: 100%;
}
.title[data-v-434ec9e2] {
  font-size: 40px;
  margin: 10px 0 0;
  font-weight: bold;
}
.main-container[data-v-434ec9e2] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.aside[data-v-434ec9e2] {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.main[data-v-434ec9e2] {
  padding: 10px 40px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.link[data-v-434ec9e2] {
  display: block;
  line-height: 40px;
  padding-left: 30px;
  position: relative;
  color: #0a0a0a;
}
.link_active[data-v-434ec9e2]:before {
  content: '\261B';
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  top: -3px;
  left: 5px;
  color: black;
  font-size: 20px;
}

