
.wrapper[data-v-436663c0] {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.form[data-v-436663c0], .values[data-v-436663c0] {
  width: 320px;
}


.forms[data-v-a33a3c70] {
  max-width: 800px;
}

